.buttonsContainer {
}

.clock {
}

.watch {
}

.watch strong {
}

.more {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: rgba(0, 0, 0, 0.5);
}