.spanBlock {
    display: flex;
    justify-content: flex-start;
    /* position: relative; */
    width: 200px;
    height: 20px;
    /* left: 0px;
    top: 0px; */
    
}

.span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
margin-left: 5px;
    color: #0080ff;
    /* background-color: rgb(243, 8, 8); */
    /* margin: 0 0 10px 0; */
}

.input {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    color: #000000;
}

.pen {
}
