.greetingForm {
    /* background-color: aquamarine; */
}

.inputAndButtonContainer {
    display: flex;
}

.error {
    color: red;
    
}

.input {
    width: 372px;
    height: 36px;
    border: 2px solid black;
}

.input input:focus {
    outline: none;
}

.errorInput {
    width: 372px;
    height: 36px;
    border: 2px solid red;
    /* background-color:brown */
}

.button {
    margin: 0 0 0 10px;
    width: 78px;
    height: 36px;
    /* Primary/100 */
    background: #0066cc;
    opacity: 0.5;
    border-radius: 3px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
    /* identical to box height, or 143% */

    /* Light /140 */

    color: #ffffff;
}

.button:focus {
    background: #a8fb04;
}

.button:active {
    background: #5341f4;
}

.button:disabled {
    background: #fb5a04;
}

.text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    color: #000000;
}

.greeting {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #000000;
}
