.select {
    box-sizing: border-box;

    /* position: absolute; */
    width: 165px;
    height: 24px;
    margin-left: 30px;
    margin-top: 10px;
    background: #ffffff;
    border: 1px solid #c2c2c2;
    border-radius: 2px;
}

.select:focus {
   
}

.option:hover {
}
