.button {
    width: 132px;
    height: 30px;

    /* Primary/100 */

    background: #0066cc;
    border-radius: 3px;
}

.disabled {
    width: 133px;
    height: 30px;
    background: #f5f6f8;
    opacity: 0.5;
    border-radius: 3px;
}

.secondary {
    width: 176px;
    height: 30px;
    border: 1px solid #0066cc;
    border-radius: 3px;
}

.default {
    width: 132px;
    height: 30px;

    /* Primary/100 */

    background: #0066cc;
    border-radius: 3px;
    margin-right: 10px;
    color: aliceblue;
}

.red {
    width: 129px;
    height: 30px;

    /* Danger/100 */

    background: #cc1439;
    border-radius: 3px;
}

.default:hover {
    background: #d9ff00;
}

.red:hover {
}

.secondary:hover {
    /* background: #017df9; */
}

.default:active {
    background: #00ffc3;
}

.secondary:active {
    /* background: #000; */
}

.red:active {
}

.button:disabled {
}
